<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CoinGeckoApiBaseUrl" value="https://api.coingecko.com/api/v3/" />
		<add key="VsCurrencies" value="usd" />
		<add key="EditableCryptoCurrencyIds" value="ethereum,solana,cardano,dogecoin,xrp" />
		<add key="RefreshIntervalMs" value="30000" />
		<add key="BtcAlertPrice" value="0" />
		<add key="BtcAlertEnabled" value="false" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>